.leads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leads-entry {
  display: flex;
}

.leads-entries {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
